.e-hotel-book {
    margin: 0;
    font-family: "Segoe UI";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.primary-text-style {
    font-family: "Segoe UI";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.e-title-bar {
    background-color: #ffffff;
    padding: 20px 32px;
    box-shadow: none;
    border-bottom: 3px solid #6366f1 !important;
    display: flex;
    align-items: center;
}

.e-title-bar-spacer {
    flex-grow: 1;
}

.e-title-text-container {
    text-align: center;
    width: 100%;
}

.e-menu-button-container {
    display: none;
}

.e-menu-button::before {
    content: "\e721";
    color: #000000;
    font-size: 20px;
    font-family: "e-icons";
    cursor: pointer;
}

.e-main-container {
    display: flex;
    height: calc(100vh - 70.67px);
}

.e-side-bar {
    width: 275px;
    min-width: 275px;
    overflow-y: scroll;
}

.e-side-bar-title {
    display: none;
    align-items: center;
}

.e-side-bar-close-button::before {
    content: "\e7e7";
    color: #000000;
    font-size: 20px;
    font-family: "e-icons";
    margin-left: 15px;
    cursor: pointer;
}

.e-side-bar-operation-container {
    background-color: #ffffff;
    width: 260px;
}

.e-check-in-out-text {
    padding-bottom: 10px;
}

.e-date-cell-orange {
    background-color: #ffedd5;
}

.e-date-cell-green {
    background-color: #d1fae5;
}

.e-side-bar-separator {
    padding: 15px 15px;
}

.e-side-bar-treeview-separator {
    padding: 10px;
}

.e-line-separator,
.e-data-line-separator {
    width: 95%;
    background-color: #a5b4fc;
    padding: 1px 0px;
    margin: 10px auto;
}

.e-app-container {
    background-color: #eef2ff;
    width: 100%;
}

.e-operation-container {
    padding: 10px 10px;
    position: absolute;
    z-index: 10;
    right: 0px;
    top: 0px;
}

.e-grid-container {
    padding: 20px 10px 10px 10px;
    height: 100%;
}

.e-mobile-layout {
    position: relative;
    width: 340px;
    height: 480px;
    margin: auto;
    border: 16px #f4f4f4 solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
    box-shadow: 0 0px 2px rgb(144 144 144), 0 0px 10px rgb(0 0 0 / 16%);
}

.e-mobile-layout .e-mobile-content {
    overflow-x: hidden;
    height: 100%;
    background: white;
    border: 0px solid #dddddd;
}

.e-title-text {
    font-weight: 600;
    font-size: 25px;
    color: #000000;
}

.e-title-text-book {
    font-family: "Rubik Vinyl", serif;
    color: #ef4444;
}

.e-title-text-my {
    font-family: "Jersey 15", serif;
    color: #10b981;
}

.e-title-text-room {
    font-family: "Josefin Sans", serif;
    color: #f59e0b;
}

.e-header-text {
    text-align: center;
    padding: 10px;
    font-weight: 600;
    color: #14b8a6;
    font-family: "Josefin Sans", serif;
    font-size: 20px;
}

.e-headercell .e-header-text {
    padding: 14px;
}

.e-semi-header-text {
    font-weight: 600;
    color: #000000;
}

.e-semi-title-header-text {
    font-weight: 200;
    color: #000000;
}

.e-semi-bold-header-text {
    font-weight: 700;
    color: #ec4899;
    font-size: 22px;
    font-family: "Josefin Sans", serif;
}

.e-semi-bold-title-header-text {
    font-weight: 600;
    color: #a855f7;
    font-family: "Josefin Sans", serif;
}

.e-grid .e-gridcontent table .e-rowcell.e-grid-hotel-name {
    font-weight: 700;
    font-size: 18px;
    color: #ec4899;
}

.e-grid .e-gridcontent table .e-rowcell.e-grid-room-name {
    font-weight: 600;
    font-size: 17px;
    color: #a855f7;
}

.e-rowcell.e-grid-date {
    font-weight: 500;
}

.e-light-blue-border-bottom {
    border-bottom: 3px solid #a5b4fc !important;
}

.templateRow td {
    position: relative;
}

.e-rowtemplate-border-applier {
    box-shadow: none;
    border-top: 1px solid #a5b4fc !important;
}

.e-room-not-available-cover {
    position: absolute;
    width: calc(100% - 2px);
    height: 100%;
    background-color: #d1d5db;
    opacity: 0.5;
    z-index: 1000;
}

.e-flex-layout {
    display: flex;
}

.e-img-container {
    padding: 5px;
}

.e-img {
    margin: 15px;
    width: 310px;
    height: 210px;
}

.e-map-img {
    height: 17px;
    width: 17px;
}

.e-info-container {
    padding: 5px;
    margin-top: 15px;
    width: 100%;
}

.e-row-template-separator {
    padding: 5px 10px 15px 10px;
}

.e-info-flex-items-center-applier {
    display: flex;
    align-items: center;
}

.e-info-flex-spacer {
    flex-grow: 1;
}

.e-flex-spacer {
    flex-grow: 1;
}

.e-info-flex-width-applier {
    width: 50%;
    padding-right: 15px;
}

.normal-text-color {
    color: #000000;
}

.normal-hint-text-color {
    color: #6b7280;
}

.e-map-text-spacer {
    margin-left: 10px;
    margin-top: 1px;
}

.e-margin-top-10 {
    margin-top: 10px;
}

.e-map-text-styler {
    cursor: pointer;
}

.e-address-text-styler {
    text-decoration: underline;
    color: #22c55e;
}

.e-rating-container.e-custom-rating .e-rating-item-list {
    margin: 0px;
}

.e-rating-container.e-custom-rating .e-rating-item-container {
    padding-left: 0px;
    padding-bottom: 0px;
}

.e-custom-rating-color.e-rating-container .e-rating-item-container.e-rating-selected .e-rating-icon {
    background: linear-gradient(to right, #ffa600 var(--rating-value), #ffa600 var(--rating-value));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #ffa600;
}

.e-rating-container .e-rating-item-container {
    font-size: 16px;
}

.e-rating-reviews-container {
    align-items: center;
}

.e-book-layout {
    display: flex;
    align-items: center;
    margin: 22px 15px;
}

.e-extralist-price-info-container {
    display: flex;
    align-items: center;
    width: 85%;
}

.e-book-spacer {
    flex-grow: 1;
}

.e-cost-line-through-styler {
    text-decoration: line-through;
    padding-right: 3px;
}

.e-arrow-styler {
    font-size: 20px;
    padding-right: 3px;
}

.e-price-info {
    text-align: right;
}

.e-cost-styler {
    font-weight: 600;
    color: #6366f1;
    font-size: 24px;
}

.e-discount-style {
    color: #059669;
    font-weight: 500;
}

.e-tax-style {
    color: #dc2626;
    font-weight: 500;
}

.e-book-button {
    padding: 0px 8px 0px 25px;
}

.e-book-details-button {
    padding-right: 95px;
}

.e-padding-right {
    padding-right: 50px;
}

.emptyRecordTemplate {
    text-align: center;
}

.e-emptyRecord {
    display: block;
    margin: 10px auto;
}

.e-details-container {
    background-color: #eef2ff;
    padding-top: 30px;
}

.e-carousel-image-holder-height {
    height: 380px;
}

.e-back-button-carousel-container {
    display: block !important;
}

.e-background-blur-image-container {
    width: 100%;
    position: absolute;
    z-index: 0;
}

.e-background-blur-image {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    filter: blur(1px);
}

.e-back-button-container {
    padding: 10px;
    position: absolute;
    z-index: 1;
}

.e-back-button::before {
    content: "\e773";
    color: black;
    padding: 5px;
    font-size: 20px;
    font-family: "e-icons";
    margin: 10px;
    cursor: pointer;
}

.e-carouselcomponent-container {
    padding: 20px;
    margin: 0 auto;
}

.e-carouselcomponent-container,
.e-carousel-img-container img {
    height: 340px;
    width: 520px;
}

.e-carousel-img-container {
    height: 100%;
    margin: 0;
}

.e-details-info-container {
    display: flex;
    flex-direction: row-reverse;
    background-color: #ffffff;
    margin-top: 30px;
}

.e-booking-details-container {
    flex: 3;
    border-left: 5px solid #eef2ff !important;
    border-right: 5px solid #eef2ff !important;
}

.e-booking-details-separator {
    padding: 10px 15px;
}

.e-hotel-details-container {
    flex: 1;
    border-right: 5px solid #eef2ff !important;
}

.e-hotel-details-side-bar-separator {
    padding: 10px 15px;
}

.e-print-info {
    display: none;
    position: fixed;
    z-index: 1000000001;
    height: 100%;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.e-print-info-container {
    padding: 10px;
}

.e-print-info-separator {
    margin-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    color: #14b8a6;
    font-family: "Josefin Sans", serif;
    font-size: 20px;
}

.e-print-info-separator.e-print-info-separator-margin-top {
    margin-top: 20px;
}

.e-chip-list {
    padding-left: 0px;
}

.e-chip.e-disabled.e-info {
    margin: 6px 6px 0px 0px;
    background: #ecfeff !important;
    border-color: #cffafe !important;
    color: #0e7490 !important;
}

.e-chip.e-disabled.e-success {
    background: #f0fdf4 !important;
    border-color: #bbf7d0 !important;
    color: #15803d !important;
}

#hotelamenities,
#roomamenities {
    border-color: #D1D5DB;
}

.e-treeview .e-level-1.e-list-item>.e-fullrow,
.e-treeview .e-level-1.e-list-item.e-active.e-hover>.e-fullrow,
.e-treeview .e-level-1.e-list-item.e-active.e-node-focus>.e-fullrow {
    background-color: #F3F4F6;
}

.e-dialog.e-dialog-print-info .e-dlg-header {
    text-align: center !important;
    width: auto !important;
}

.e-dialog .e-footer-content .e-btn {
    margin-right: 10px;
}

.e-dialog.e-dlg-modal.e-popup.e-popup-open.e-dialog-map {
    max-width: 800px !important;
    max-height: 530px !important;
}

.e-dialog.e-dlg-modal.e-popup.e-popup-open.e-dialog-print-info {
    max-width: 950px !important;
    max-height: 500px !important;
}

.e-dialog.e-dlg-modal.e-popup.e-popup-open.e-dialog-print-info .e-dlg-header-content {
    padding-top: 16px;
}

.e-dialog.e-dlg-modal.e-popup.e-popup-open.e-dialog-print-info .e-footer-content {
    padding-bottom: 16px;
}

.e-treeview .e-level-1>.e-text-content .e-list-text {
    font-size: 16px;
    font-weight: 600;
}

.e-slidercomponent-container {
    width: 95%;
    margin-left: 6px;
}

.e-upload {
    width: 96%;
}

.vertical-divider {
    width: 1px;
    background-color: #a5b4fc;
    flex-shrink: 0;
    margin: 0px 15px;
}

.e-info-flex-direction-column {
    flex-direction: column;
}

.e-info-flex-40-width {
    width: 40%
}

.e-info-flex-50-width {
    width: 50%
}

.e-info-flex-60-width {
    width: 60%
}

.e-info-flex-40-height {
    height: 40%
}

.e-info-flex-50-height {
    height: 50%
}

.e-info-flex-60-height {
    height: 60%
}

#form1 {
    padding: 0px 30px;
}

.e-padding-side {
    padding-left: 20px;
    padding-right: 20px;
}

@import '../../../node_modules/@syncfusion/ej2-base/styles/tailwind3.css';
@import '../../../node_modules/@syncfusion/ej2-buttons/styles/tailwind3.css';
@import '../../../node_modules/@syncfusion/ej2-calendars/styles/tailwind3.css';
@import '../../../node_modules/@syncfusion/ej2-dropdowns/styles/tailwind3.css';
@import '../../../node_modules/@syncfusion/ej2-inputs/styles/tailwind3.css';
@import '../../../node_modules/@syncfusion/ej2-navigations/styles/tailwind3.css';
@import '../../../node_modules/@syncfusion/ej2-popups/styles/tailwind3.css';
@import '../../../node_modules/@syncfusion/ej2-splitbuttons/styles/tailwind3.css';
@import "../../../node_modules/@syncfusion/ej2-react-grids/styles/tailwind3.css";
@import "../../../node_modules/@syncfusion/ej2-icons/styles/tailwind3.css";
@import "../../../node_modules/@syncfusion/ej2-lists/styles/tailwind3.css";
@import '../../../node_modules/@syncfusion/ej2-notifications/styles/tailwind3.css';

@media only screen and (max-width: 1120px) {

    .e-booking-details-container {
        flex: 2;
    }

    .e-hotel-details-container {
        flex: 1;
    }

}

@media only screen and (max-width: 1050px) {

    .e-rating-reviews-container {
        display: block;
    }

    .e-reviews-container {
        padding-left: 10px;
    }
}

@media only screen and (max-width: 950px) {

    .e-img-info-container {
        display: block;
    }

    .e-img-container {
        text-align: center;
    }

    .e-img {
        width: 420px;
        height: 210px;
    }

    .e-main-container .e-book-layout {
        display: block;
    }

    .e-extralist-price-info-container {
        width: 100%;
    }

    .e-main-container .e-book-button {
        text-align: right;
        margin-top: 20px;
        padding: 0px;
    }
}

@media only screen and (max-width: 850px) {

    .e-details-info-container {
        flex-direction: column-reverse;
    }

    .e-booking-details-container {
        border-top: 5px solid #eef2ff !important;
        border-left: 5px solid #eef2ff !important;
        border-right: 5px solid #eef2ff !important;
        border-bottom: 5px solid #eef2ff !important;
    }

    .e-hotel-details-container {
        border-top: 5px solid #eef2ff !important;
        border-left: 5px solid #eef2ff !important;
        border-right: 5px solid #eef2ff !important;
        border-bottom: 5px solid #eef2ff !important;
    }
}

@media only screen and (min-width: 801px) {
    .e-side-bar {
        display: block !important;
    }
}

@media only screen and (max-width: 800px) {

    .e-menu-button-container {
        display: block;
    }

    .e-side-bar {
        display: none;
        position: fixed;
        z-index: 1000000001;
        height: 100%;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .e-side-bar-title {
        display: flex;
    }

    .e-side-bar-operation-container {
        position: absolute;
        height: 100%;
        overflow-y: auto;
        width: auto;
    }

    .e-carouselcomponent-container,
    .e-carousel-img-container img {
        height: 340px;
        width: 420px;
    }
}

@media only screen and (max-width: 600px) {

    .e-img {
        width: 320px;
        height: 180px;
    }

    .e-operation-container {
        position: static;
        padding-top: 0px;
    }
}

@media only screen and (max-width: 560px) {

    .e-carouselcomponent-container,
    .e-carousel-img-container img {
        height: 340px;
        width: 320px;
    }
}