.e-grid .e-gridfooter, .e-btn.e-hide {
  display: none;
}

.e-grid {
  flex: 9;
}

.e-grid td.e-active{
  background: #d8d8d8a6;
}
.e-grid .e-emptyrow td {
  padding: 0;
  line-height: 0;
}

.e-grid .e-headercell {
  background-color: #c2e7ff; /* Formal header background color */
}

.e-unboundcelldiv {
  display: flex !important;
  justify-content: center;  /* Horizontally center-aligns the button */
  align-items: center;       /* Vertically center-aligns the button */
  height: 100%;
  .e-cancelbutton.e-hide{
    display: block;
  }
}

/* Style for buttons */
.input-container button {
  padding: 6px 10px; /* Add padding to buttons */
  /* font-size: 20px; */
  background-color: white; /* Set button background color */
  color: black; /* Set button text color */
  border: none; /* Remove button border */
  border-radius: 4px; /* Add border radius to buttons */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.header .input-container .e-input-group.e-control-wrapper.e-ddl {
  width: 50% !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c2e7ff; /* Header background color */
  color: #000; /* Header text color */
  padding: 12px; /* Add padding for spacing */
  width: 100%;
}

/* Font size for 150% scale and greater (1280px width and below) */
@media screen and (max-width: 1529px) {
  .e-input-group input.e-input, .e-input-group.e-control-wrapper input.e-input, .e-input-group textarea.e-input, .e-input-group.e-control-wrapper textarea.e-input, .e-grid .e-headercelldiv, .e-grid .e-row .e-input-group .e-input.e-field, .e-grid .e-row .e-input-focus .e-input.e-field, .e-grid .e-rowcell, .e-toolbar .e-toolbar-item .e-tbar-btn .e-tbar-btn-text, .header .input-container label, .control-pane.payment button, .control-pane.amount .e-card-header-title, .control-pane, .e-control, .e-dialog .e-dlg-content{
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
    font-size: 12px;
  }
  .input-container-title{
    font-size: 18px;
  }
}

/* Font size for 100% scale (1920px width) and 125% scale (1536px width) */
@media screen and (min-width: 1536px) {
  .e-input-group input.e-input, .e-input-group.e-control-wrapper input.e-input, .e-input-group textarea.e-input, .e-input-group.e-control-wrapper textarea.e-input, .e-grid .e-headercelldiv, .e-grid .e-row .e-input-group .e-input.e-field, .e-grid .e-row .e-input-focus .e-input.e-field, .e-grid .e-rowcell, .e-toolbar .e-toolbar-item .e-tbar-btn .e-tbar-btn-text, .header .input-container label, .control-pane.payment button, .control-pane.amount .e-card-header-title, .control-pane, .e-control, .e-dialog .e-dlg-content{
    font-size: 14px;
  }
  .input-container-title{
    font-size: 22px;
  }
  .card-control-section.vertical_card_layout .col-xs-3.col-sm-3  #poscards.e-card {
      height: 90px;
  }
}
  .e-calendar .e-content td.e-today.e-selected:hover span.e-day, .e-calendar .e-content td.e-selected:hover span.e-day, .e-calendar .e-content td.e-selected.e-focused-date span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected.e-focused-date span.e-day
  {
    background-color: #c2e7ff;
  }

  .e-calendar .e-content td.e-today span.e-day, .e-calendar .e-content td.e-focused-date.e-today span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-today span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
    border: 2px solid #c2e7ff;
    color: black
  }
.input-container-title {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  height: 15px;
  margin: 8px 0;
  font-weight: 500;
}

.e-btn, .e-css.e-btn {
  font-weight: 400;
}

.header .input-container {
  display: flex;
  align-items: center;
  height: 18px;
}

.header .input-container.billno {
  width: 10%;
}

.header .input-container.custid, .header .input-container.custaddress, .header .input-container.custname {
  width: 20%;
}

.header .input-container.phone {
  width: 15%;
}

.header .input-container.datepicker {
  width: 22%;
}

.header .input-container:not(:last-child) {
  padding-right: 5px; /* Adjust the padding value as needed */
}

.input-container label {
  margin-right: 4px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 12px;
  color: #333;
  white-space: nowrap; /* Prevents wrapping to a new line */
}

.header input,
.header .e-input {
  width: 200px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  padding: 8px;
}

.header .e-datepicker-wrapper {
  width: 200px;
}

.header .e-input-group-icon {
  margin-right: 5px;
}

.header .e-input-group-icon .e-input-group-icon.e-date-icon::before {
  content: '\e836'; /* Icon code for calendar */
  font-family: 'ej-icon';
}

.primary-container {
  display: flex;
  height: 70%;
}

.primary-container .e-control.e-grid {
  box-sizing: border-box;
}

.primary-container .control-pane.amount {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 140px;
}
.control-pane.amount .control-section .card-layout #poscards{
  height: 114px;
}
.control-pane.amount .control-section .card-layout #poscards .e-card-actions{
  padding-top: 22px;
  font-size: 20px;
}

.control-pane.amount .control-section .col-xs-6.col-sm-6.col-sm-4:nth-child(3) {
  margin-bottom: -18px;
}

.control-pane.amount .control-section .e-card-resize-container{
  margin-top: 40px;
}

.primary-container .card-layout .col-xs-6 {
  width: 100%; /* Each card should occupy full width */
}

.primary-container .e-card {
  height: 140px;
}
  
  /* Vertical card customization */

  .card-control-section.vertical_card_layout #poscards_profile.e-card .e-card-header {
      text-align: left;
  }

  .card-control-section.vertical_card_layout #poscards_profile.e-card>* {
      height: 50%;
  }

  .card-control-section.vertical_card_layout #poscards_profile.e-card .e-card-content {
      display: flex;
      flex-direction: column;
  }

  .card-control-section.vertical_card_layout #poscards_profile.e-card .e-card-header-caption .e-card-sub-title,
  .card-control-section.vertical_card_layout #poscards_profile.e-card .e-card-header-caption .e-card-header-title,
  .card-control-section.vertical_card_layout #poscards_profile.e-card .e-card-content table td {
      color: #fff;
  }
  .card-control-section.vertical_card_layout #poscards.e-card,
  .card-control-section.vertical_card_layout #poscards_profile.e-card {
      text-align: center;
      background-size: cover;
      height: 70px;
  }

  .card-control-section.vertical_card_layout #poscards.e-card .e-card-header-caption .e-card-header-title,
  .card-control-section.vertical_card_layout #poscards.e-card .e-card-header-caption .e-card-sub-title,
  .card-control-section.vertical_card_layout #poscards.e-card .e-card-actions button {
      color: #000;
  }

  .card-control-section.vertical_card_layout #poscards.e-card .e-card-actions,
  .card-control-section.vertical_card_layout #poscards_profile.e-card .e-card-actions {
      justify-content: center;
      height: 100%;
  }

  .card-control-section.vertical_card_layout #poscards.e-card .e-card-actions button,
  .card-control-section.vertical_card_layout #poscards_profile.e-card .e-card-actions button {
      background-color: transparent;
      text-transform: none;
      border: none;
  }

  .control-pane, .e-control, .e-dialog .e-dlg-content {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
  }

  .control-pane .e-card-header-title {
    font-size: 12px;
  }
  
  /* Button text */
  .control-pane.payment .e-card .e-card-btn-txt {
      color: #333; /* Text color */
      font-size: 18px; /* Font size */
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 100%; /* Occupy the full height of the parent */
  }
  
  /* Adjust this if you want the image to appear before the text */
  .control-pane.payment #cardPayButtonDiv .e-card-btn-txt {
      background-position-x: 20px; /* Adjust based on the space you want before the text */
  }
  
  .control-pane.payment #UPIPayButtondiv .e-card-btn-txt {
      background-position-x: 20px;
  }
  
  .control-pane.payment #cashPayButton .e-card-btn-txt {
      background-position-x: 20px;
  }


  /* Payment Options Card Component CSS */

.control-pane.payment .card-control-section {
  max-width: 100%;
}

.control-pane.payment .e-card {
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.control-pane.payment .e-card:hover {
  transform: translateY(-5px);
}

.control-pane.payment .e-card .e-card-actions {
  padding: 5px;
  background-color: #f4f4f4;
}

/* Button Text */
.control-pane.payment .e-card .e-card-btn-txt {
  color: #333; /* Text color */
  font-size: 18px; /* Font size */
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Occupy the full height of the parent */
  width: 100%; /* Occupy the full width of the parent */
  background-color: #ffffff; /* Button background color */
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.control-pane.payment .e-card .e-card-btn-txt button {
  width: 100%; /* Occupy the full width of its container */
  height: 100%; /* Occupy the full height of its container */
  background: transparent; /* Remove default button background */
  border: none; /* Remove default button border */
  cursor: pointer;
  padding: 0; /* Remove default button padding */
  margin: 0; /* Remove default button margin */
}

/* Adjust this if you want the image to appear before the text */
.control-pane.payment #cardPayButtonDiv .e-card-btn-txt,
.control-pane.payment #UPIPayButtondiv .e-card-btn-txt,
.control-pane.payment #cashPayButton .e-card-btn-txt {
  background-repeat: no-repeat;
  background-position: 20px center; /* Adjust based on the space you want before the text */
  background-size: 30px 30px; /* Size of the image */
}

.payment-icon {
  height: 65%;
  opacity: 0.9;
  margin-right: 10px;
}

/* Cards */
.e-card {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Dialogs */
.e-dialog .e-header, #targetElement2 .e-footer-content .e-control.e-btn {
  background-color: #c2e7ff;
  color: #000;
}

.e-dialog .e-footer {
  background-color: #f8f9fa;
}

/* Cards inside Dialog */
.e-card .e-card-header, .e-card .e-card-header-caption {  
  background-color: #c2e7ff; /*necessary*/
  color: #333;
  line-height: 32px;
}

/* Card Buttons */
.e-card .e-card-actions .e-card-btn-txt {
  color: #007bff;
  cursor: pointer;
}

/* Payment Confirmation Dialog */
#paymentConfirmationDialog .e-content {
  text-align: center;
}

/* General Styling */
body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
  background-color: #f4f4f4;
  margin: 5px;
  position: absolute;
  min-width: 1120px;;
  height: auto;
}

.control-section {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.e-card-resize-container {
  overflow: hidden;
}

/* Additional Styling */
#poscards {
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#cashCalculator {
  margin-top: 20px;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
}

#cashCalculator table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff; /* Table background color */
  border: 1px solid #dddddd; /* Table border */
  border-radius: 5px;
}

#cashCalculator th, #cashCalculator td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #dddddd; /* Border bottom for rows */
}

#cashCalculator th {
  background-color: #f2f2f2; /* Header row background color */
  font-weight: bold;
  color: #333333; /* Header row text color */
}

#cashCalculator tbody tr:hover {
  background-color: #f8f8f8; /* Lighter background color on hover */
}

#cashCalculator input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
}

#cashCalculator td:first-child {
  font-weight: bold;
  color: #333333; /* Text color for first column */
}

#cashCalculator td:last-child {
  text-align: right;
  font-weight: bold;
  color: #1b8ef2; /* Text color for balance amount */
}
